This Notebook will be use for the final Capstone Project in the IBM Data Science Professional Certificate Course!

In [14]:
import pandas as pd
import numpy as np
print ("Hello Capstone Project Course!")

Hello Capstone Project Course!

In the following code, I have accessed the table data from the url and formed a dataframe with the 3 headings as required. Futhermore, i have filtered out row 0 which did not have any data using the isnull function for Postal Code

In [15]:
import requests
from bs4 import BeautifulSoup
page = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(page,'lxml')

table = soup.find('table',{'class':'wikitable sortable'})
table_rows = table.find_all('tr')
data = []
for row in table_rows:
    data.append([t.text.strip() for t in row.find_all('td')])

df = pd.DataFrame(data, columns=['PostalCode', 'Borough', 'Neighbourhood'])
df = df[~df['PostalCode'].isnull()]  
df.head()

  PostalCode           Borough              Neighbourhood
1        M1A      Not assigned               Not assigned
2        M2A      Not assigned               Not assigned
3        M3A        North York                  Parkwoods
4        M4A        North York           Victoria Village
5        M5A  Downtown Toronto  Regent Park, Harbourfront

In [32]:
df.shape

(103, 3)

As we can see form the above table, there are several 'Not assigned' values under Borough. To drop these rows, I have used the following code and accordingly reindexed the data. For this data, all assigned Boroughs have assigned Neighbourhood details, hence we do not need to drop not assigned Neighbourhood rows. Furthermore, there are no repeating postal codes.

In [16]:
df.drop(df[df['Borough']=="Not assigned"].index,axis=0, inplace=True)
df1 = df.reset_index()
df1.head()

,index,PostalCode,Borough,Neighbourhood
0,3,M3A,North York,Parkwoods
1,4,M4A,North York,Victoria Village
2,5,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,6,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,7,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"

Since there are duplicate Boroughs,as can be seen above, we will now run the following code to group them together

In [22]:
df2= df1.groupby('PostalCode').agg(lambda x: ','.join(x))

In [35]:
df3= df2.reset_index()

In [36]:
df3.head()

  PostalCode      Borough                           Neighbourhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [38]:
df3.shape

(103, 3)